<%= render 'shared/navbar' %>

<div class="row">
  <div class="large-12 columns">
    <h1>Membership At a Glance</h1>
  </div>
  <div class="large-4 columns">
    <h2>Member Age</h2>
    <table>
      <tr>
        <th>
          Newest Join
        </th>
        <td>
          <%= Contact.newest_join_date %>
        </td>
      </tr>
      <tr>
        <th>
          Median Join
        </th>
        <td>
          <%= Contact.median_age %>          
        </td>
      </tr>
      <tr>
        <th>
          Oldest Join
        </th>
        <td>
          <%= Contact.oldest_join_date %>
        </td>
      </tr>
    </table>
  </div>
  <div class="large-4 columns">
    
  </div>
  <div class="large-4 columns">
    
  </div>
</div>